@media screen and (max-width: 767px) {
  .navbar-expand .navbar-nav {
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: -100%;
    transition: 0.3s ease-in-out;
    background: #333;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    top: 56px;
  }
  .navbar-expand .navbar-nav.active {
    left: 0;
  }
  .icon {
    color: #fff;
    position: absolute;
    right: 30px;
    top: 13px;
  }
}

.btn-register {
  background-color: rgb(32, 180, 218);
  border-radius: 3px;
  padding: 2px 5px;
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
}
